<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:f="http://xmlns.jcp.org/jsf/core"

>

<h:body>

        <ui:composition template="template.xhtml">
            <ui:param name="displaySearch" value="true"/>

            <ui:define name="title">

                <h:outputFormat value="#{msg['label.planets.list.title']}">
                    <f:param value="#{stellarBean.getPlanetarySystem(searchBean.systemId).name}"/>
                </h:outputFormat>

            </ui:define>

            <ui:define name="content">

                <h:dataTable
                        value="#{stellarBean.planets}"
                        var="p"
                >
                    <h:column headerText="Id">
                        <h:outputText value="#{p.id}"/>
                    </h:column>
                    <h:column headerText="Name">
                        <h:outputText value="#{p.name}"/>
                    </h:column>
                </h:dataTable>

            </ui:define>

        </ui:composition>

</h:body>

</html>
