<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:c="http://java.sun.com/jsp/jstl/core"
      xmlns:jsf="http://xmlns.jcp.org/jsf"
>

<h:body>


        <ui:composition template="template.xhtml">
            <ui:param name="displaySearch" value="true"/>
            <ui:define name="title">
                Planetary Systems
            </ui:define>
            <ui:define name="content">
                <h:dataTable id="systemsTable" value="#{stellarBean.planetarySystems}" var="s">
                    <h:column>
                        <f:facet name="header">#{msg['label.planetary.system.name']}</f:facet>
                        <h:link value="#{s.name}" outcome="planets">
                            <f:param name="systemId" value="#{s.id}"/>
                        </h:link>

                    </h:column>
                    <h:column>
                        <f:facet name="header">#{msg['label.planetary.system.star']}</f:facet>
                        <h:outputText value="#{s.star}"/>
                    </h:column>
                    <h:column>
                        <f:facet name="header">#{msg['label.planetary.system.distance']}</f:facet>
                        <h:outputText value="#{s.distance}"/>
                    </h:column>
                    <h:column>
                        <f:facet name="header">#{msg['label.planetary.system.discovery']}</f:facet>
                        <h:outputText value="#{s.discovery}">
                            <f:convertDateTime type="date" pattern="yyyy-MM-dd"/>
                        </h:outputText>
                    </h:column>
                </h:dataTable>
            </ui:define>

        </ui:composition>

</h:body>

</html>
